// bill-list.component.scss
@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

bill-list {
    @include flex(flex-start, center, column);
    margin: $one-percent 0;
    width: $seventy-percent;
    max-width: 85%;
    min-height: 30vh;
    background-color: $thin-neutral-black;
    @extend %soft-border-radius;
    .bill-list-header {
        @include flex(space-around, center, row);
        width: 100%;
        margin: $third-percent;
        ss-title {
            color: $pristine-white;
        }
        ss-button {
            ss-title {
                color: $neutral-black;
            }
        }
    }
    .bills-list {
        width: 100%;
        @include flex(space-around, center, column);
        padding: $half-percent 0;
    }
}
