django
djangorestframework
djangorestframework-simplejwt
psycopg2
django-cors-headers
django-environ
django-debug-toolbar
channels
asgiref
gunicorn
whitenoise
celery[redis]
pytest
pytest-django
pytest-cov
livereload
factory-boy
drf-yasg
django-filter
django-redis
graphene-django
django-heroku
