<!-- signup-inputs.component.html -->
<ng-container>
    <signup-input (inputEvent)="this.emitCredentialsChange()"
                  [signupCredentials]="this.signupCredentials"
                  [inputType]="AuthInputType.USERNAME"/>
    <signup-input (inputEvent)="this.emitCredentialsChange()"
                  [signupCredentials]="this.signupCredentials"
                  [inputType]="AuthInputType.PASSWORD"/>
    <signup-input (inputEvent)="this.emitCredentialsChange()"
                  [signupCredentials]="this.signupCredentials"
                  [inputType]="AuthInputType.CONFIRM_PASSWORD"/>
    <signup-input (inputEvent)="this.emitCredentialsChange()"
                  [signupCredentials]="this.signupCredentials"
                  [inputType]="AuthInputType.EMAIL"/>
    <signup-input (inputEvent)="this.emitCredentialsChange()"
                  [signupCredentials]="this.signupCredentials"
                  [inputType]="AuthInputType.TERMS"/>
</ng-container>