@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-button {
    @include flex(center, center, row);
    padding: 0;
    background-color: $tea-green;
    border-radius: $quarter-percent;
    //box-shadow: $mint 0 0 calc($eighth-percent / 2) calc($eighth-percent / 2);
    transition: background-color, box-shadow 0.15s;
    ss-img {
        @include square-size(calc($two-percent * 0.96));
    }
    &.confirm-button {
        background-color: transparent;
        @extend %circle-border-radius;
        &:hover {
            cursor: pointer;
            box-shadow: $faded-neutral-black 0 $eighth-percent $eighth-percent $eighth-percent;
        }
        &:active {
            cursor: pointer;
            box-shadow: $faded-neutral-black 0 $eighth-percent $quarter-percent $quarter-percent;
        }
    }
    &:hover {
        cursor: pointer;
        background-color: $alabaster-stone;
        box-shadow: $mint 0 $eighth-percent $eighth-percent $eighth-percent;
    }
    &:active {
        cursor: pointer;
        background-color: $tree-green;
        box-shadow: $mint 0 $eighth-percent $quarter-percent $quarter-percent;
    }
}