@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

ss-button {
    @include flex(center, center, row);
    padding: calc($three-quarter-percent * 0.9);
    background-color: $tea-green;
    border-radius: $half-percent;
    //box-shadow: $mint 0 0 calc($eighth-percent / 2) calc($eighth-percent / 2);
    transition: background-color, box-shadow, 0.25s;
    ss-title {
        text-shadow: none;
    }
    ss-img {
        @include square-size(calc($two-percent * 0.96));
    }
    &:hover {
        cursor: pointer;
        background-color: $alabaster-stone;
        box-shadow: $mint 0 $eighth-percent $eighth-percent $eighth-percent;
    }
    &:active {
        cursor: pointer;
        background-color: $tree-green;
        box-shadow: $mint 0 $eighth-percent $quarter-percent $quarter-percent;
    }
}