<!-- paycheck.component.html -->
<ng-container>
    <paycheck-pay-period [dateRange]="paycheck.dateRange"/>
    <hr/>
    <paycheck-income-list [incomes]="incomes"/>
    <paycheck-total [totalType]="PaycheckTotalType.INCOME"
                    [totalAmount]="paycheck.totalIncome"/>
    <paycheck-bill-list [bills]="bills"/>
    <paycheck-total [totalType]="PaycheckTotalType.BILL"
                    [totalAmount]="paycheck.totalBills"/>
    <hr/>
    <paycheck-total
        [totalType]="PaycheckTotalType.LEFTOVER"
        [totalAmount]="paycheck.leftOverIncome"/>
</ng-container>