// input-time-type.component.scss
@import "../../../../styles/global-variables";
@import "../../../../styles/global-mixins";
@import "../../../../styles/global-functions";
@import "../../../../styles/global-placeholders";

input-time-type {
    @include flex(center, center, row);
    margin: $half-percent;
    background-color: $alabaster-stone;
    padding: $half-percent;
    border: transparent solid $thin-border;
    box-shadow: $mint calc($eighth-percent / 2) calc($eighth-percent / 2) $eighth-percent $eighth-percent;
    transition: background-color, box-shadow 0.15s;
    @extend %soft-border-radius;
    ss-title {
        h5 {
            font-size: calc($h5-font-size * 0.9);
        }
    }
    &.selected {
        background-color: $mint;
    }
    &:hover {
        cursor: pointer;
        //background-color: $pristine-white;
        border: $thin-border solid $alabaster-stone;
        box-shadow: $alabaster-stone 0 $eighth-percent $eighth-percent $eighth-percent;
    }
    &:active {
        cursor: pointer;

    }
}
