// nav-item.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

nav-item {
    @include flex(center, center, row);
    padding: $one-percent;
    border-radius: $one-percent;
    background-color: $tea-green;
    flex-basis: calc($ten-percent * 1.05);
    box-shadow: none;
    transition: box-shadow, background-color 0.15s;
    &:hover {
        background-color: $alabaster-stone;
        box-shadow: $mint 0 $eighth-percent $eighth-percent $eighth-percent;
    }
    &:active {
        cursor: pointer;
        background-color: $tree-green;
        box-shadow: $mint 0 $eighth-percent $quarter-percent $quarter-percent;
    }
}
