// bill-input-field.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

bill-input-field {
    @include flex(center, center, row);
    width: 100%;
    margin: calc($half-percent * 0.75) 0;
    ss-title {
        @include flex(flex-start, center, row);
        flex: 1;
        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }
        h5 {
            font-size: calc($h5-font-size * 0.9);
        }
    }
    ss-input {
        flex: 1;
        @include size($ten-percent, $one-percent);
    }
}
