//=================================-Imports-==================================
@import "global-variables";
//===============================-Placeholders-===============================
%circle-border-radius {
    border-radius: 50%;
}

%soft-border-radius {
    border-radius: $one-percent;
}

%raise-above-box-shadow {
    box-shadow: $navy-blue 0 0 $fifteen-percent simplest-calc(0.25);
}

%fill-container {
    width: 100%;
    height: 100%;
}