// loading-wheel.component.scss
@import "../../../styles/global-variables";
@import "../../../styles/global-mixins";
@import "../../../styles/global-functions";
@import "../../../styles/global-placeholders";

loading-wheel {
    @include flex(center, center, column);
    @include square-size($six-percent);
    position: relative;
    margin: $one-percent 0;
    .loader-ring {
        @extend %fill-container;
        border-radius: 50%;
        position: absolute;
        background: conic-gradient(
                        from 0deg,
                        $bright-fern,
                        $soft-aqua-green,
                        $mint,
                        $pristine-white
        );
        border: $thin-border solid $alabaster-stone;
        box-shadow: 0 0 $eighth-percent $soft-aqua-green,
        0 0 $quarter-percent $bright-fern;
        opacity: 0.7;
        animation: spinning 1s cubic-bezier(0.6, 0.45, 0.1, 0.6) infinite;
    }

    .loader-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include square-size($four-percent);
        border-radius: 50%;
        background-color: $pristine-white;
        box-shadow: 0 0 $half-percent $bright-fern;
        animation: jumping 2s cubic-bezier(0.2, 0.57, 0.36, 0.98) infinite;
    }
    @keyframes spinning {
        0% {
            transform: rotate(0deg) scale(1);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }

    @keyframes glowing {
        0% {
            opacity: 0.6;
            box-shadow: 0 0 $quarter-percent $soft-aqua-green;
        }
        100% {
            opacity: 1;
            box-shadow: 0 0 $six-percent $bright-fern, 0 0 $quarter-percent $tree-green;
        }
    }

    @keyframes jumping {
        0%, 100% {
            transform: translate(-50%, -50%) scale(1);
        }
        50% {
            transform: translate(-50%, -50%) scale(1.2);
        }
    }

}